@import "../../../styles/settings.scss";

.root {
  flex-grow: 1;
  min-height: calc(100vh - 120px);
}

.search {
  display: grid;
  justify-content: center;
  align-items: center;
}

.button {
  margin: 2rem auto;
}
